{% for projet in projets %}
    <tr>
        <td>{{ projet.intitule }}</td>
        <td>{{ projet.description }}</td>
        <td>{{ projet.type }}</td>
        <th>
            {% if projet.estLivre == 1 %}
                <span class="badge badge-success">OUI</span>
            {% else %}
                <span class="badge badge-danger">NON</span>
            {% endif %}
        </th>
        <td>{{ projet.date | date("d/m/Y") }}</td>
        <td>
            <a href="{{ path('details_projet',{'id': projet.id}) }}" class="btn btn-primary btn-sm">
                <i class="fa fa-eye mr-0"></i>
            </a>

            {% if projet.estLivre == 1 %}
                <a href="{{ path('formulaire_modification_projet',{'id': projet.id}) }}" class="btn btn-info btn-sm">
                    <i class="fa fa-pencil mr-0"></i>
                </a>

                <a href="{{ path('liste_suppression_projet',{'id': projet.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o mr-0"></i>
                </a>
            {% else %}
                <a href="{{ path('liste_projets',{'offset': 0, 'erreur': true }) }}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-pencil mr-0"></i>
                </a>

                <a href="{{ path('liste_projets',{'offset': 0, 'erreur': true }) }}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-trash-o mr-0"></i>
                </a>
            {% endif %}

        </td>
    </tr>
{% endfor %}