{% extends 'layout.html.twig' %}

{% block title %}Employés - PROCOM{% endblock %}

{% block content %}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-{{ icon }}"></i>&nbsp;{{ type_liste | capitalize ~ "s"  }}</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">{{ type_liste | capitalize ~ "s"  }}</li>
        </ul>
    </div>
    <div class="tile pb-5">
        <a href="#" class="btn btn-primary float-right mb-4"><i class="fa fa-plus-circle mr-2"></i>Ajouter un {{ type_liste }}</a>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if type_liste == "projet" %}
                        {{ include('dashboard/liste_projets.html.twig', { 'projets': items }) }}
                    {% elseif type_liste == "employe" %}
                        {{ include('dashboard/liste_employes.html.twig', { 'employes': items }) }}
                    {% else %}
                        {{ include('dashboard/liste_metiers.html.twig', { 'metiers': items }) }}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <hr/>
        <nav class="float-right">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% for i in 1..nb_pages %}
                    {% if i == current_page %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('liste_' ~ type_liste ~ 's', {'offset': (i -1) * 10 }) }}">{{ i }}</a></li>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}